@import "./../../global.scss";

.college {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;

    .left {
      width: 100%;
      height: 100%;
      flex: 0.5;
      display: flex;
      flex-direction: column;

      .heading {
        padding: 15px 10px;
        display: flex;
        justify-content: space-between;

        .clg-name {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          h3 {
            margin-bottom: 5px;
          }
        }

        .mark {
          width: 65px;
          height: 40px;
          color: $backgroundColor;
          background: $gradient;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
          cursor: pointer;
          transition: all 2s ease-out;

          &:hover {
            background: $darkColor;
          }
        }
      }

      .main {
        padding: 10px;
        overflow: hidden;

        .clg-para {
          height: 100%;
          line-height: 21px;
          text-align: center;
          font-weight: 400;
          text-align: center;
        }
      }
    }
    .right {
      width: 100%;
      height: 100%;
      flex: 0.5;
      padding: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      }
    }
  }
}
