@import "./../../global.scss";

.education {
  width: 100%;
  height: 100%;
  background-color: $bagroungColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    padding: 20px 0px 10px 0px;
    color: $darkColor;
    text-shadow: 0.7px 0.7px 1px rgba(74, 73, 73, 0.5);
    font-weight: 600;
    overflow: hidden;
  }

  .nav {
    width: 70%;
    height: 60px;
    background-color: $secondaryBG;
    border: 1px solid $darkColor;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: all 7s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      & :first-child {
        border-right: 4px solid $bagroungColor;
      }
      & :last-child {
        border-left: 4px solid $bagroungColor;
      }

      li {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0px;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.5s ease;

        &:hover {
          background: linear-gradient(
            45deg,
            rgba(255, 16, 74, 0.4) 0%,
            rgba(255, 144, 136, 0.4) 77%
          );
        }

        &.active {
          background: $gradient;
          color: $bagroungColor;
        }
        &.none {
          background-color: $secondaryBG;
          color: $darkColor;
        }
      }
    }
  }

  .details {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
