$darkColor: #3c3d42;
$designColor: #ff2790;
$backgroundColor: #f6f8e2;
$secondaryBG: #e0ddca;
$gradient: linear-gradient(
  45deg,
  rgba(255, 16, 74, 1) 0%,
  rgba(255, 144, 136, 1) 77%
);
$primary: rgba(255, 16, 74, 1);
$skill: linear-gradient(
  110deg,
  rgba(4, 234, 255, 1) 0%,
  rgba(246, 254, 255, 1) 47%,
  rgba(246, 248, 251, 1) 52%,
  rgba(252, 74, 152, 1) 83%,
  rgba(253, 49, 91, 1) 100%
);
$textPinkShadow: 2px 2px 4px rgba(255, 0, 100, 0.4);
$textWhiteShadow: 0 0 8px rgba(255, 255, 255, 0.5);

// $darkColor: #17252a;
// $designColor: #3aafa9;
// $backgroundColor: #feffff;
// $secondaryBG: #def2f1;

/* $darkColor: #5a5560;
$designColor: #faed26;
$backgroundColor: #9d8d8f;
$secondaryBG: #46344e;
$textColor: #fff;
$thirdBG: #9b786f; */
